
 {
margin: 0; 
    padding: 0;
}
nav{ 
background-color: rgb(224, 206, 208);
padding: 2rem;
}
nav ul{ 
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: space-around;
    font-size: 45px;
}
nav ul li{ 
    display: inline; 
}
nav ul li a{ 
    color: darkslategray ; 
    text-decoration: none;
    padding: 1rem 2rem; 
    display: block;    
}
nav ul li a:hover{ 
    background-color: dimgray;
    border-radius: 5px;

}
h1{ 
  font-family: 'Press Start 2P';
  text-align:center;
}
p{ 
    font-style: italic; 
    font-size: 40px;
    text-align: center;
}
img{ 
    width: 20%;
    height: 20%;
}
.vuonhoa{
    width: 100vw; 
    height: 400px; 
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.hoa1{
    width: 300px; 
    height: 300px;
    align-self: left;


 
    transition: 0.5s;
}
.hoa2{
     width: 300px; 
    height: 300px;
    align-self: right;

 

    transition: 0.5s;
} 
body{ 
    background-image: url( hallucination.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  
}
html{ 
    background: linear-gradient(to right, wheat, rgb(164, 158, 158));
}